<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>

            <main class="actualizar-producto">
                <h1 class="titulo">
                    Actualizar producto
                </h1>

                <form action="/products/:<%= boxValue[id].id %>/update?_method=PUT" method="POST">

                    <input type="hidden" name="id" value="<%= boxValue[id].id %>">

                    <div class="elemento">
                        <label>Nombre</label>
                        <input type="text" name="productName" value="<%= boxValue[id].name %>">
                    </div>

                    <div class="elemento">
                        <label>Descripción</label>
                        <input type="text" name="productDescription" value="<%= boxValue[id].desc %>">
                    </div>

                    <div class="elemento">
                        <label>Imagen</label>
                        <input type="file" name="productFile" value="<%= boxValue[id].img %>">
                    </div>

                    <div class="elemento">
                        <label>Categoria</label>
                        <input type="text" name="productCategory" value="<%= boxValue[id].category %>">
                    </div>

                    <div class="elemento">
                        <label>Precio del producto</label>
                        <input type="text" name="productPrice" value="<%= boxValue[id].price %>">
                    </div>

                    <div class="elemento centrado">
                        <button class="mi-btn" type="submit">Actualizar</button>
                    </div>
                </form>
            </main>

            <%- include("../partials/footer.ejs")%>
    </body>



</html>