<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>

            <main class="listado-productos">

                <h1 class="titulo">
                    Todos los productos
                </h1>

                <% if (productList=="" ) { %>

                    <div class="elemento">
                        <a class="mi-btn" href="/products/create">
                            Crear producto
                        </a>
                    </div>

                    <% } else{ %>

                        <div class="elemento">
                            <a class="mi-btn" href="/products/create">
                                Añadir producto
                            </a>
                        </div>

                        <% for (let i=0; i< productList.length; i++) {%>

                            <!-- Tabla -->
                            <table class="tabla">

                                <thead>
                                    <tr>
                                        <td class="columna">
                                            Id
                                        </td>

                                        <td class="columna-nombre">
                                            Nombre
                                        </td>

                                        <td class="columna">
                                            Precio
                                        </td>

                                        <td class="columna">
                                            Categoría
                                        </td>

                                        <td class="columna">
                                            Descuento
                                        </td>

                                        <td class="columna">
                                            Detalle
                                        </td>

                                        <td class="columna">
                                            Editar
                                        </td>

                                        <td class="columna">
                                            Borrar
                                        </td>

                                    </tr>
                                </thead>


                                <tbody>
                                    <tr>
                                        <td class="columna">
                                            <%= productList[i].id %>
                                        </td>

                                        <td class="columna-nombre">
                                            <%= productList[i].name %>
                                        </td>

                                        <td class="columna">
                                            <%= productList[i].price %>
                                        </td>

                                        <td class="columna">
                                            <% productList[i].category %>
                                        </td>

                                        <td class="columna">
                                            <%= productList[i].desc %>
                                        </td>

                                        <td class="columna">
                                            <% productList[i].img %>
                                        </td>

                                        <td class="columna">
                                            <form action="/products/<%=productList[i].id %>/update" method="GET">
                                                <button type="submit" class="btn-crud">
                                                    <i class="btn-crud-editar-borrar fas fa-edit"></i>
                                                </button>
                                            </form>
                                        </td>

                                        <td class="columna">
                                            <form action="/products/<%=productList[i].id %>/delete?_method=delete" method="POST">
                                                <button type="submit" class="btn-crud">
                                                    <i class="btn-crud-editar-borrar fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                            <!-- Tabla -->
                            <% } %>
                                <% } %>
            </main>

            <%- include("../partials/footer.ejs")%>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>

</html>