<!DOCTYPE html>
<html lang="es">

    <%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>
    <main>
        <div>
            <h2>Actualice el producto</h2>
            <form action="/products/:<%= boxValue[id].id %>/update?_method=PUT" method="POST">
                <label>Nombre del producto</label>
                <input type="text" name ="productName" value="<%= boxValue[id].name %>">
                <br>
                <label>Descripcion del producto</label>
                <input type="text" name ="productDescription" value="<%= boxValue[id].desc %>">
                <br>    
                <label>Imagen del producto</label>
                <input type="file" name ="productFile" value="<%= boxValue[id].img %>">
                <br>
                <label>Categoria</label>
                <input type="text" name ="productCategory" value="<%= boxValue[id].category %>">
                <br>
                <label>Talle del producto</label>
                <input type="text" name ="productSize" value="<%= boxValue[id].size %>">
                <br>
                <label>Precio del producto</label>
                <input type="text" name ="productPrice" value="<%= boxValue[id].price %>">
                <input type="hidden" name="id" value="<%= boxValue[id].id %>">
                <br>
                <button type="submit">Actualizar</button>           
            </form>
        </div>
    </main>
    <%- include("../partials/footer.ejs")%>
</body>



</html>