<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    
    <title>Sexto Sol</title>
</head>

<body>
    <% if(locals.user) { %>
        <%- include('./partials/header', {user: user}) %> 
    <% } else { %>
    <%- include('./partials/header') %>
    <% } %>
    <!-- BANNER TOP-->

    <section class= 'banner-top'>
        <img src="/img/banner-top.jpg" alt="Banner Top">
    </section>

    <!-- BANNER TOP-->
<!-- main -->
<main>
    <header class="header">
        <div class="search-bar">
            <form action="search">
            <input type="text" name="search" class="form-search" placeholder="Buscar productos">
            </form>
            <div><i class="fas fa-search"></i></div>
        </div>
    <!-- plantas sin flor -->
       <section>
        <div class="contenido">
            <div class="content">
                <h1>Aprovechá nuestros descuentos comprando más de 5 productos de la misma categoría</h1>
                <h1>Descubre nuestras plantas con macetas personalizadas, te van a encantar</h1>
                                    <h2> IR A CATEGORIAS</h2>
                    <a href="/products/conflor">PLANTAS CON FLOR</a>
                    &nbsp; <a href="/products/sinflor">PLANTAS SIN FLOR</a>
            </div>
       </section>
  
            <!-- Todos los productos -->
            <h1>Listado de productos</h1>
           
<section class="container-04">
    <h1>Todos los productos</h1>
    <div class="products-container">
        <% products.forEach(product => { %>
            <%- include('./partials/product-card.ejs', {product: product}) %>
        <% }) %>
    </div>
</section>
<section class="container-04">
    <h1>Plantas más vendidas</h1>
    <div class="products-container">
         <% products.forEach(product => { %>
            <%- include('./partials/product-card.ejs', {product: product}) %>
        <% }) %>               
    </div>
</section>

<section class="container-04">
    <h1>Novedades</h1>
    <div class="products-container">
        <% products.forEach(product => { %>
            <%- include('./partials/product-card.ejs', {product: product}) %>
        <% }) %>
    </div>
</section>


<!-- BANNER BOTTOM-->

<section class= 'banner-bottom'>

    <img src="/img/banner-bottom.jpg" alt="Banner Bottom">

</section>

<!-- BANNER BOTTOM-->
</main>
    
    <%- include('./partials/footer') %>
</body>
</html>