<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Registro</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <!-- contenedor -->
        <div class="contenedor">

        <div class="register">
            <section class="register-title">
                <h1>Registrate</h1>
                 <!-- input-contenedor -->
            <section>
                
                <p>Completá los siguientes campos para registrarte</p>
            </section>
            </section>
            <section class="register-errors">
                <%if (locals.errors) { %>
                    <% errors.forEach(error => {%>
        
                        <p> <%=error.msg %></p>
        
                    <% })%>
                <% }%>
            </section>
            <p>¿Ya tenés una cuenta?, <a href="/user/login">Inicia sesión</a></p>
            <form class= "register-form" action="/user/register" method="POST" enctype="multipart/form-data">
                <div class="tec-inputs">
                    <input type="text" placeholder="Nombre(s)" name="user" class="user-input" value="<%=locals.old && old.user ? old.user : '' %>">
                    <input type="text" placeholder="Apellido(s)" name="lastname" class="last-name-input" value="<%=locals.old && old.lastname ? old.lastname : '' %>">
                    <input type="email" placeholder="Correo electrónico" name="email" class="email-input" value="<%=locals.old && old.email ? old.email : '' %>">
                    <input type="password" placeholder="Contraseña" name="password" class="pass-input">
                    <input type="password" placeholder="Confirmar contraseña" name="passwordConfirm" class="pass-confirm-input ">
                    <p class="label">La contraseña debe contener al menos 8 caracteres, una mayúscula, una minúscula y un número</p>

                    <label for="imagenUsuario" >Imagen de perfil: </label>
                    <input type="file" name="imagenUsuario">
                </div>
                    <div>
                        <button type="submit" name="register" class="submit submit-input">Crear cuenta</button>
                    </div>
            </form>       
        </div>
        <form>
            <div class="conociste">
                <input type="select" name="seleccionar" placeholder= "¿Como nos conociste?"/>
                <select name="conociste" size="1">
                    <option>Instagram</option>
                    <option>Amigos</option> 
                    <option>Otros</option>
                    </select>   
            </div>
        </form>
       
    </main>
</body>
</html>